@tailwind base;
@tailwind components;
@tailwind utilities;

html::before,
body::before {
  content: '';
  width: 100%;
  min-height: 100vh;
  background-image: url('/images/bg.jpg');
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-shadow {
  text-shadow: 0 2px 0px rgb(0 0 0 / 30%);
}